
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color:#231f20;

}

/* styles de paragraphe par défaut */
p, li, textarea, label, input, select {
  /* Default font size and line height */
}


/* titre d'entête */
h1 {
  font-size: 88px;
}

/* titre de section */
h2 {
  color: #231F20;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 64px 216px 64px 231px;
}

/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/

.header-title {
  margin: 8px 0;
  padding: 15px;
  background-color: #fcce00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-subtitle {
  margin: 8px 0;
  padding: 15px;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-stripe {
margin: 8px 0;
}

.header-stripe--red {
height: 32px;
background-color: #e02020bd;
}

.header-stripe--purple {
height: 16px;
background-color: #b620e0bd;
}

.header-stripe--blue {
height: 8px;
background-color: #6236ffbd;
}

.block {
display:flex;
justify-content: space-around;
align-items: stretch;
}

.colonne {
flex-basis: 0;
flex-grow: 1;
}

.colonne2{
background-image: url(../img/bg-yellow.png);
}

.titre-paragraphe {
margin: 0 31px 34px 0;
font-size: 24px;
font-weight: bold;
text-align: center;
}

.paragraphe1 {
width: 640px;
height: 184px;
margin: 34px 32px 164px 48px;
font-size: 16px;
text-align: justify;
}

.ordinateur-1 {
width: 487px;
height: 471px;
mix-blend-mode: darken;
display: block;
margin: 40px 10px 1px 223px;
}

.bouton-1 {
width: 185px;
height: 48px;
margin: 30px auto 86px 503px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #fcce00bd;
font-size: 20px;
}

.blanc {
margin: 40px 0px 0px 0px;
}

.ordinateur-2 {
width: 378px;
height: 486px;
mix-blend-mode: darken;
display: block;
margin: 0px 171px 0px 171px;
}

.bouton-2 {
width: 185px;
height: 48px;
margin: 32px auto 214px 488px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #ff6b00;
font-size: 20px;
}

.colonne3{
background-image: url(../img/bg-orange.png);
}

.titre-paragraphe2 {
margin: 64 33px 32px 33;
font-size: 24px;
font-weight: bold;
text-align: center;
}

.paragraphe2 {
width: 640px;
height: 184px;
margin: 32px 47px 32px 32px;
font-size: 16px;
text-align: justify;
}

.advance{
color: #231F20;
margin: 64px 505px 64px 505px;
font-size: 40px;
text-align: center;
}

.ligne1{
display : flex;
justify-content: space-around;
align-items: stretch;
background-image: url(../img/bg-red.png);
height: 640px;
text-align: left;
}

.titre-ligne{
color: #ffffff;
font-size:32px;
margin : 64px 45px 32px 60px;
}

.paragraphe3{
color: #ffffff;
width: 487px;
height: 66px;
font-size:24px;
margin : 32px 148px 32px 60px;
}

.feature1{
width: 745px;
height: 576px;
margin : 18px 0px 48px 0px;
mix-blend-mode: darken;
}

.bouton-3{
display:block;
width: 185px;
height: 48px;
margin: 32px 450px 356px 60px;
padding: 7px 24px 7px 23px;
text-align: center;
border-radius: 15px;
border: solid 4px;
color: #ffffff;
font-size: 20px;
}

.ligne2{
display : flex;
justify-content: space-around;
align-items: stretch;
background-image: url(../img/bg-violet.png);
height: 640px;
text-align: left;
}

.ligne3{
display : flex;
justify-content: space-around;
align-items: stretch;
background-image: url(../img/bg-blue.png);
height: 640px;
text-align: left;
}

.grille{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
}

.game{
position: relative;
}

.grille-content{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
transition: opacity 300ms,
}

.game:hover .grille-content {
opacity: 1;
transform: translateY(-10px);
}

.grille-category{
font-size: 12px;
text-align: center;
color: #ffffff;
margin: 16px 102px 8px 102px;
}

.grille-title{
font-size: 32px;
text-align: center;
color: #fcce00;
margin: 0px 20px 32px 20px;
font-weight: bold;
}

.grille-description{
font-size: 16px;
text-align: center;
color: #ffffff;
margin: 0px 20px 143px 20px;
}

.footer {
background-color: #231f20;
height: 1550px;
text-align: center;
}

.titre-footer {
font-size: 40px;
color: #ffffff;
width: 316px;
height: 56px;
margin: 64px 562px 64px 562px;
}

.contact {
font-size: 40px;
color: #ffffff;
width: 170px;
height: 56px;
margin: 64px 635px 64px 635px;
}

.formulaire{
margin: 64px auto 814px auto;
font-size: 16px;
color: #ffffff;
}
